<!DOCTYPE html>
<head>
	<title>Arduino Plays Pokemon</title>

	<script src="https://use.fontawesome.com/e23a059ffc.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>

   {{{body}}}
</body>
</html>